<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>464208075482-g7q9tfuf5ier04ah5k73a0886q9ve74o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464208075482-g7q9tfuf5ier04ah5k73a0886q9ve74o</string>
	<key>API_KEY</key>
	<string>AIzaSyBLBx3evRt_RfQjGktiNblGoweC4F8iHjY</string>
	<key>GCM_SENDER_ID</key>
	<string>464208075482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.early.project.Early</string>
	<key>PROJECT_ID</key>
	<string>prom-6a1fa</string>
	<key>STORAGE_BUCKET</key>
	<string>prom-6a1fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464208075482:ios:ddd44d6760f921bb</string>
	<key>DATABASE_URL</key>
	<string>https://prom-6a1fa.firebaseio.com</string>
</dict>
</plist>